<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand js-nav-left" href="/">
                Welcome, {{session['first_name']}}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto mt-2">
                    <a class="nav-link js-nav-right" href="/dashboard">Dashboard</a>
                    <a class="nav-link js-nav-right" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="js-h1">Edit a Movie</h1>
    <!-- <h3 class="red">Description must not be blank</h3> -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="red js-h1"><strong>{{message}}</strong></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form class="row align-items-start gx-5 justify-content-start js-new" action="/movies/update" method="post">
        <div class="col-4 js-edit">
            <div class="row">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}">
                <input type="hidden" class="form-control" id="id" name="id" value="{{movie.id}}">
            </div>

            <div class="row js-form-space">
                <label for="friend" class="form-label">Friend:</label>
                <input type="text" rows="4" class="form-control" id="friend" name="friend" value="{{movie.friend}}"></input>
            </div>

            <div class="row js-form-space">
                <label for="date" class="form-label">Date:</label>
                <input type="date" rows="4" class="form-control" id="date" name="date" value="{{movie.date}}"></input>
            </div>

            {% if movie.watched == 1 %}
            <div class="row js-form-space">
                <label for="watched" class="form-label">Watched:</label>
                <input type="checkbox" id="watched" name="watched" value="1" checked>
            </div>

            {% else %}
            <div class="row js-form-space">
                <label for="watched" class="form-label">Watched:</label>
                <input type="checkbox" id="watched" name="watched" value="1">
            </div>
            {% endif %}

            <button type="submit" class="btn btn-primary js-create-btn">Submit</button>
        </div>
        
    </form>
</body>
</html>