.registration, .login {
    background-color: azure;
    border: 2px solid black;
    margin-top: 50px;
    padding: 10px;

}

.registration {
    margin-right: 10px;
}

.login {
    margin-left: 10px;
}

.js-form-label {
    margin-bottom: 20px;
}

.button-js {
    margin-top: 10px;
}

.red {
    color: red;
}

.js-table-head {
    font-size: 22px;
}

.js-nav-left {
    font-size: 30px;

    padding: 3px 10px;
}

.js-nav-right {
    font-size: 26px;
}

.js-h1 {
    margin-top: 20px;
    margin-left: 90px;
}

.js-edit {
    margin: 20px 40px;
}

.js-date {
    margin: 60px 0;
}

.js-form-space {
    margin-top: 10px;
}

.js-create-btn {
    margin-top: 10px;
    width:150px;
}

.js-dashboard {
    border: 2px solid black;
}

.js-font {
    color: purple;
}

.js-magazine {
    border: 2px solid black;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.js-new {
    margin-left: 40px;
}

.js-mags {
    border: 2px solid black;
}